.contenedor-ganancias {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}

.title-ganancias {
    font-size: 30px;
    text-transform: uppercase;
    color: var(--color-1);
}

.parragraph-ganancias {
    font-size: 25px;
    font-weight: bold;
}